<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Featuredcategory>
            <version>0.1.1</version>
        </Magestore_Featuredcategory>
    </modules>

    <frontend>
        <routers>
            <featuredcategory>
                <use>standard</use>
                <args>
                    <module>Magestore_Featuredcategory</module>
                    <frontName>featuredcategory</frontName>
                </args>
            </featuredcategory>
        </routers>
        <layout>
            <updates>
                <featuredcategory>
                    <file>featuredcategory.xml</file>
                </featuredcategory>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
			<featuredcategory>
				<use>admin</use>
				<args>
					<module>Magestore_Featuredcategory</module>
					<frontName>featuredcategory</frontName>
				</args>
			</featuredcategory>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<featuredcategory>
					<file>featuredcategory.xml</file>
				</featuredcategory>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <featuredcategory>
                <class>Magestore_Featuredcategory_Model</class>
                <resourceModel>featuredcategory_mysql4</resourceModel>
            </featuredcategory>
            <featuredcategory_mysql4>
                <class>Magestore_Featuredcategory_Model_Mysql4</class>
                <entities>
                    <featuredcategory>
                        <table>featuredcategory</table>
                    </featuredcategory>
                </entities>
            </featuredcategory_mysql4>
        </models>
        <resources>
            <featuredcategory_setup>
                <setup>
                    <module>Magestore_Featuredcategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredcategory_setup>
            <featuredcategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredcategory_write>
            <featuredcategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredcategory_read>
        </resources>
        <blocks>
            <featuredcategory>
                <class>Magestore_Featuredcategory_Block</class>
            </featuredcategory>
        </blocks>
        <helpers>
            <featuredcategory>
                <class>Magestore_Featuredcategory_Helper</class>
            </featuredcategory>
        </helpers>
    </global>
</config>