<?xml version="1.0"?>
<config>
    <modules>
        <Reea_Giftwrap>
            <version>0.1.0</version>
        </Reea_Giftwrap>
    </modules>
    <global>
    	<fieldsets>
    		<sales_convert_quote_item>
    			<giftwrap>
                    <to_order_item>*</to_order_item>
                </giftwrap>
    		</sales_convert_quote_item>
    	</fieldsets>
        <models>
            <giftwrap>
                <class>Reea_Giftwrap_Model</class>
            </giftwrap>
            <checkout>
            	<rewrite>
            		<cart>Reea_Giftwrap_Model_Checkout_Cart</cart>
            	</rewrite>
            </checkout>
        </models>
        <resources>
            <giftwrap_setup>
                <setup>
                    <module>Reea_Giftwrap</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giftwrap_setup>
            <giftwrap_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </giftwrap_write>
            <giftwrap_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </giftwrap_read>
        </resources>
        <blocks>
            <giftwrap>
                <class>Reea_Giftwrap_Block</class>
            </giftwrap>
        </blocks>
        <helpers>
            <giftwrap>
                <class>Reea_Giftwrap_Helper</class>
            </giftwrap>
        </helpers>
    </global>
    <frontend>
    	<routers>
            <custom>
                <use>standard</use>
                <args>
                    <module>Reea_Giftwrap</module>
                    <frontName>giftwrap</frontName>
                </args>
            </custom>
            <checkout>
                <args>
                    <modules>
                        <reea_giftwrap before="Mage_Checkout">Reea_Giftwrap</reea_giftwrap>
                    </modules>
                </args>
            </checkout>
        </routers> 
    </frontend>
</config>