<?xml version="1.0"?>
<config>
    <modules>
        <Reea_Printerfriendly>
            <version>0.1.0</version>
        </Reea_Printerfriendly>
    </modules>
    <frontend>
        <routers>
            <printerfriendly>
                <use>standard</use>
                <args>
                    <module>Reea_Printerfriendly</module>
                    <frontName>printerfriendly</frontName>
                </args>
            </printerfriendly>
        </routers>
        <layout>
            <updates>
                <printerfriendly>
                    <file>printerfriendly.xml</file>
                </printerfriendly>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<printerfriendly>
				<use>admin</use>
				<args>
					<module>Reea_Printerfriendly</module>
					<frontName>printerfriendly</frontName>
				</args>
			</printerfriendly>
        </routers>
    </admin>

    <global>
        <models>
            <printerfriendly>
                <class>Reea_Printerfriendly_Model</class>
                <resourceModel>printerfriendly_mysql4</resourceModel>
            </printerfriendly>
            <printerfriendly_mysql4>
                <class>Reea_Printerfriendly_Model_Mysql4</class>
                <entities>
                    <printerfriendly>
                        <table>printerfriendly</table>
                    </printerfriendly>
                </entities>
            </printerfriendly_mysql4>
        </models>
        <resources>
            <printerfriendly_setup>
                <setup>
                    <module>Reea_Printerfriendly</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </printerfriendly_setup>
            <printerfriendly_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </printerfriendly_write>
            <printerfriendly_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </printerfriendly_read>
        </resources>
        <blocks>
            <printerfriendly>
                <class>Reea_Printerfriendly_Block</class>
            </printerfriendly>
        </blocks>
        <helpers>
            <printerfriendly>
                <class>Reea_Printerfriendly_Helper</class>
            </printerfriendly>
        </helpers>
    </global>
</config>