<?xml version="1.0"?>
<config>
	
    <modules>
        <Reea_Advancedsearch>
            <version>0.2.1</version>
        </Reea_Advancedsearch>
    </modules>
    <global>
        <models>
            <reea_advancedsearch>
                <class>Reea_Advancedsearch_Model</class>
            </reea_advancedsearch>
            <catalogsearch>
                <rewrite>
                    <advanced>Reea_Advancedsearch_Model_Advanced</advanced>
                </rewrite>
            </catalogsearch>
            <catalogsearch_resource>
                <rewrite>
                    <advanced_collection>Reea_Advancedsearch_Model_Resource_Advanced_Collection</advanced_collection>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <blocks>			
            <reea_advancedsearch>
                <class>Reea_Entries_Block</class>
            </reea_advancedsearch>
            <catalogsearch>
                <rewrite>
                    <advanced_form>Reea_Advancedsearch_Block_Advanced_Form</advanced_form>
                </rewrite>
            </catalogsearch>       
        </blocks>
        <helpers>			
            <reea_advancedsearch>
                <class>Reea_Advancedsearch_Helper</class>
            </reea_advancedsearch>			
        </helpers>
        <resources>
            <reea_advancedsearch_setup>
                <setup>
                    <module>Reea_Advancedsearch</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reea_advancedsearch_setup>
            <reea_advancedsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reea_advancedsearch_read>
            <reea_advancedsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reea_advancedsearch_write>
        </resources>
    </global>	
</config>