<?xml version="1.0"?>
<config>
	
	<modules>
		<Reea_Wordpress>
			<version>0.0.1</version>
		</Reea_Wordpress>
	</modules>
	
	<global>
		
		<models>			
            <reea_wordpress>
                <class>Reea_Wordpress_Model</class>
            </reea_wordpress>            
        </models>
        
        <helpers>			
			<reea_wordpress>
                <class>Reea_Wordpress_Helper</class>
            </reea_wordpress>			
        </helpers>
		
	</global>
	
	<frontend>
		
		<events>
			
			<wordpress_string_filter_before>
				
				<observers>
					
					<reea_wordpress_wordpress_string_filter_before>
        				
        				<type>singleton</type>
                        <class>Reea_Wordpress_Model_Observer</class>
                        <method>wordpress_string_filter_before</method>
                        
        			</reea_wordpress_wordpress_string_filter_before>
        			
				</observers>
				
			</wordpress_string_filter_before>
			
		</events>
		
	</frontend>
	
</config>
