<config>
    <modules>
        <Reea_GallerySales>
            <version>0.0.4</version>
        </Reea_GallerySales>
    </modules>
    <global>
        <models>
            <reea_gallerysales>
                <class>Reea_GallerySales_Model</class>
            </reea_gallerysales>
            
            <sales>
                <rewrite>
                    <order_pdf_invoice>Reea_GallerySales_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_items_invoice_default>Reea_GallerySales_Model_Sales_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                </rewrite>
            </sales>
            
            <eav>
                <rewrite>
                    <entity_type>Reea_GallerySales_Model_Eav_Entity_Type</entity_type>
                </rewrite>
            </eav>
            
            <payment>
                <rewrite>
                    <method_cashondelivery>Reea_GallerySales_Model_Payment_Method_Cashondelivery</method_cashondelivery>
                    <method_banktransfer>Reea_GallerySales_Model_Payment_Method_Banktransfer</method_banktransfer>
                    <method_checkmo>Reea_GallerySales_Model_Payment_Method_Checkmo</method_checkmo>
                </rewrite>
            </payment>
        </models>
        
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_gallery_order_button>
                        <class>reea_gallerysales/observer</class>
                        <method>addGalleryOrderButton</method>
                    </add_gallery_order_button>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        
        <resources>
            <reea_gallerysales_setup>
                <setup>
                    <module>Reea_GallerySales</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reea_gallerysales_setup>
            <reea_gallerysales_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </reea_gallerysales_setup>
            <reea_gallerysales_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </reea_gallerysales_setup>
        </resources>
        
        <fieldsets>
            <customer_address>
                <tax_invoice>
                    <to_quote_address>*</to_quote_address>
                </tax_invoice>
            </customer_address>
            <sales_convert_order_address>
                <tax_invoice>
                    <to_quote_address>*</to_quote_address>
                </tax_invoice>
            </sales_convert_order_address>
            <sales_convert_quote_address>
                <tax_invoice>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </tax_invoice>
            </sales_convert_quote_address>
            <sales_copy_order_billing_address>
                <tax_invoice>
                    <to_order>*</to_order>
                </tax_invoice>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <tax_invoice>
                    <to_order>*</to_order>
                </tax_invoice>
            </sales_copy_order_shipping_address>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <reea_gallerysales before="Mage_Adminhtml">Reea_GallerySales_Adminhtml</reea_gallerysales>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>